node_modules
.next
out
coverage
.env
.env.local
.env.production
.env.development
playwright-report
report.html
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
.vscode
.idea
test-results
tsconfig.tsbuildinfo
